body {
    font-family: sans-serif;
    margin: 0px;
}

header,
#controls {
    width: 80%;
    max-width: 720px;
    margin: 2rem auto;

    text-align: center;
}

canvas {
    box-shadow: 0 0 1rem #aaa;
}
